**/.DS_Store

Plotting_code_and_data/.DS_Store
Plotting_code_and_data/Fig9_03_SST/.DS_Store
Plotting_code_and_data/Fig9_03_SST/Make_SST_Figures/.DS_Store
Plotting_code_and_data/Fig9_03_SST/OLD_Brodie_SST_Figures/.DS_Store
Plotting_code_and_data/Fig9_03_SST/Plotted_Data/.DS_Store
.DS_Store
.DS_Store
Plotting_code_and_data/.DS_Store
Plotting_code_and_data/Fig9_03_SST/.DS_Store
.DS_Store
Plotting_code_and_data/.DS_Store
Plotting_code_and_data/Fig9_03_SST/.DS_Store
Plotting_code_and_data/*/Plot_Figure/Processed_Data/*
Plotting_code_and_data/*/PNGs/Test_Maps/*
Plotting_code_and_data/*/PNGs/*_Titled.png
*.m~
!Plotting_code_and_data/Fig9_17_GIS_synth/Plot_Figure/Processed_Data/*
!Plotting_code_and_data/Fig9_18_AIS_synth/Plot_Figure/Processed_Data/*
